﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="825" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">GET Bucket CORS</h1>
        <p style="text-align: left;">The GET Bucket CORS operation returns a bucket's <span class="ElementName">cors </span>configuration information. This operation requires <span class="ElementName">S3:GetBucketCORS</span> permission.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?cors HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
        <p class="codeparatext">&#160;</p>
        <p class="Note" style="text-align: left;">The request syntax illustrates only a portion of the request headers. </p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The GET Bucket CORS operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers </h3>
        <p style="text-align: left;">The GET Bucket CORS operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm">"Common Request Headers" on page&#160;1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">Implementation of the GET Bucket CORS operation does not use request elements. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket CORS operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 212px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 92px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 390px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>CORSConfiguration</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">Container for up to 100 CORSRules elements.</p>
                        <p>
Ancestors: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSRule</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">CORSConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSConfiguration</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for up to 100 <span class="ElementName">CORSRules</span> elements.
</p>
                        <p>Children: <span class="ElementName">CORSRules</span><![CDATA[

]]></p>
                        <p>Ancestor: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSRule</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.

</p>
                        <p>Children: <span class="ElementName">AllowedOrigin, AllowedMethod, MaxAgeSeconds, ExposeHeader, ID</span>.

</p>
                        <p>Ancestor: <span class="ElementName">CORSConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedHeader</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Integer </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1" style="text-align: left;">
                        <p>Specifies which headers are allowed in a pre-flight OPTIONS request through the Access-Control-Request-Headers header. Each header name specified in the Access-Control-Request-Headers must have a corresponding entry in the rule. Only the headers that were requested will be sent back. This element can contain at most one * wildcard character.

</p>
                        <p>A <span class="ElementName">CORSRule</span> can have at most one <span class="ElementName">MaxAgeSeconds</span> element.
</p>
                        <p>Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedMethod</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Enum </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Identifies an HTTP method that the domain/origin specified in the rule is allowed to execute.

Each <span class="ElementName">CORSRule</span> must contain at least one <span class="ElementName">AllowedMethod</span> and one <span class="ElementName">AllowedOrigin</span> element.</p>
                        <p>Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedOrigin</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>One or more response headers that you wantusers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).

Each <span class="ElementName">CORSRule</span> must have at least one <span class="ElementName">AllowedOrigin</span> element. The string value can include at most one '*' wildcard character, for example, http://*.example.com". You can also specify only "*" to allow cross-origin access for all domains/origins.
</p>
                        <p>Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ExposeHeader</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>One or more headers in the response that you want users to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).

You add one ExposeHeader in the rule for each header.

</p>
                        <p>Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ID</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>An optional unique identifier for the rule. The ID value can be up to 255 characters long. The IDs help you find a rule in the configuration.

</p>
                        <p>
Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">MaxAgeSeconds</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Integer </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>The time in seconds that your browser is to cache the preflight response for the specified resource.

A <span class="ElementName">CORSRule</span> can have at most one <span class="ElementName">MaxAgeSeconds</span> element.
</p>
                        <p>Ancestor: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Retrieve CORS subresource</h3>
        <p style="text-align: left;">This request retrieves the <span class="ElementName">cors</span> subresource of a bucket.</p>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?cors HTTP/1.1
Host: example.com
Date: Tue, 13 Dec 2011 19:14:42 GMT 
Authorization: {{authenticationInformation}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: 0FmFIWsh/PpBuzZ0JFRC55ZGVmQW4SHJ7xVDqKwhEdJmf3q63RtrvH8ZuxW1Bol5
x-amz-request-id: 0CF038E9BCF63097
Date: Tue, 13 Dec 2011 19:14:42 GMT
Server: ScalityS3
Content-Length: 280</pre><pre xml:space="preserve">
&#160;
&lt;CORSConfiguration&gt;
     &lt;CORSRule&gt;
       &lt;AllowedOrigin&gt;http://www.example.com&lt;/AllowedOrigin&gt;
       &lt;AllowedMethod&gt;GET&lt;/AllowedMethod&gt;
       &lt;MaxAgeSeconds&gt;3000&lt;/MaxAgeSec&gt;
       &lt;ExposeHeader&gt;x-amz-server-side-encryption&lt;/ExposeHeader&gt;
     &lt;/CORSRule&gt;
&lt;/CORSConfiguration&gt;</pre>
    </body>
</html>