﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="818" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />&#160;</head>
    <body>
        <h1 MadCap:autonum="1. &#160;">GET Service</h1>
        <p style="text-align: left;">The GET operation on a service returns a list of all the buckets owned by the authenticated sender of the request. </p>
        <p style="text-align: left;">If the requester is an IAM user, the request will show all buckets owned by the parent account.  Individual users can list buckets they did not create, however they cannot see buckets created by a different account.</p>
        <p class="Note" style="text-align: left;">Authentication must be performed with a valid Access Key ID. Anonymous requests cannot list buckets, though users with pertinent permissions can see buckets within the account that they did not create.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">GET / HTTP/1.1
Host: {{ConnectorName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The GET Service operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the GET Service operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm">"Common Request Headers" on page&#160;1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The GET Service operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the GET Service operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The GET Service operation can return the following XML&#160;elements of the response (includes XML containers): </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col style="width: 104px;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col style="width: 139px;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col style="width: 355px;" class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td colspan="1" class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Bucket</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Container</p>
                    </td>
                    <td colspan="1" class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for bucket information</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Buckets</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for one or more buckets</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">CreationDate</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">date (yyyy-mm-ddThh:mm:ss.timezone, e.g., 2009-02-03T16:45:09.000Z)</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Date the bucket was created</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">DisplayName</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">String</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Bucket owner's display name</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">String</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Bucket owner's canonical user ID</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td colspan="1" class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ListAllMyBucketsResult</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Container</p>
                    </td>
                    <td colspan="1" class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Container for response</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Owner</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Container for bucket owner information</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Returns a List of all Buckets Owned by the Authenticated Request Sender</h3>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET / HTTP/1.1
Host: demo.s3.scality.com
Date: Thu, 31 Mar 2016 15:06:25 GMT
Authorization: AWS pat:rhcjIVUs1lgxPgErOA5BTR0I8Qc=</pre>
        <h4>Response Sample</h4>
        <p>The response lists the buckets owned by the authenticated sender.</p><pre xml:space="preserve" class="NewClass">HTTP/1.1 200 OK
Date: Thu, 31 Mar 2016 15:55:19 GMT
Server: RestServer/1.0
Content-length: 317
Content-Type: application/octet-stream
Cache-Control: no-cache
Connection: close
&lt;?xml version="1.0" encoding="UTF-8"?&gt;.
&lt;ListAllMyBucketsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Owner&gt;
    &lt;ID&gt;14B5C45B8E359BC1601B7C682D83EB50648AE420&lt;/ID&gt;
    &lt;DisplayName&gt;Test &lt;/DisplayName&gt;
  &lt;/Owner&gt;
  &lt;Buckets&gt;
    &lt;Bucket&gt;
      &lt;Name&gt;polo&lt;/Name&gt;
      &lt;CreationDate&gt;2016-03-31T17:52:20.000Z&lt;/CreationDate&gt;
    &lt;/Bucket&gt;
    &lt;Bucket&gt;
      &lt;Name&gt;izod&lt;/Name&gt;
      &lt;CreationDate&gt;2011-06-31T17:53:29.000Z&lt;/CreationDate&gt;
    &lt;/Bucket&gt;
  &lt;/Buckets&gt;
&lt;/ListAllMyBucketsResult</pre>
        <p style="text-align: left;">In the sample syntax, the <span class="Code_Terminal">Owner</span> field lists information about the bucket owner, and the <span class="Code_Terminal">Buckets</span> field lists buckets and their metadata.</p>
    </body>
</html>