﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="872" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">PUT Bucket CORS</h1>
        <p style="text-align: left;">The PUT Bucket CORS operation configures a bucket to accept cross-origin requests. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">PUT /?cors HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Content-Length: {{length}}
Date: {{date}}
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve">

&lt;CORSConfiguration&gt;
  &lt;CORSRule&gt;
    &lt;AllowedOrigin&gt;Origin you want to allow cross-domain requests from&lt;/AllowedOrigin&gt;
    &lt;AllowedOrigin&gt;...&lt;/AllowedOrigin&gt;
    ...
    &lt;AllowedMethod&gt;HTTP method&lt;/AllowedMethod&gt;
    &lt;AllowedMethod&gt;...&lt;/AllowedMethod&gt;
    ...
    &lt;MaxAgeSeconds&gt;Time in seconds your browser to cache the pre-flight OPTIONS response for a resource&lt;/MaxAgeSeconds&gt;
    &lt;AllowedHeader&gt;Headers that you want the browser to be allowed to send&lt;/AllowedHeader&gt;
    &lt;AllowedHeader&gt;...&lt;/AllowedHeader&gt;
     ...
    &lt;ExposeHeader&gt;Headers in the response that you want accessible from client application&lt;/ExposeHeader&gt;
    &lt;ExposeHeader&gt;...&lt;/ExposeHeader&gt;
     ...
  &lt;/CORSRule&gt;
  &lt;CORSRule&gt;
    ...
  &lt;/CORSRule&gt;
    ...
&lt;/CORSConfiguration&gt;</pre>
        <p class="Note" style="text-align: left;">The request syntax illustrates only a portion of the request headers. </p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The PUT Bucket CORS operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers </h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0" MadCap:conditions="PrintGuides.Future">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 95px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p>Content-MD5</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>The base64-encoded 128-bit MD5 digest of the data. This header must be used as a message integrity check to verify that the request body was not corrupted in transit. For more information, go to <a href="http://www.ietf.org/rfc/rfc1864.txt" title="RFC 1864" alt="RFC 1864">RFC 1864</a>. </p>
                        <p>Default: None </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 212px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 92px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 390px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>CORSConfiguration</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">Container for up to 100 CORSRules elements.</p>
                        <p>
Ancestors: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">CORSRule</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">CORSConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ID</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">A unique identifier for the rule. The ID value can be up to 255 characters long. The IDs help you find a rule in the configuration.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedMethod</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Enum</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">An HTTP method that you want to allow the origin to execute. Each <span class="ElementName">CORSRule</span> must identify at least one origin and one method.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>AllowedOrigin</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>An origin that you want to allow cross-domain requests from. This can contain at most one * wild character. Each <span class="ElementName">CORSRule</span> must identify at least one origin and one method.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">AllowedHeader</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Specifies which headers are allowed in a pre-flight OPTIONS request via the <span class="ElementName">Access-Control-Request-Headers </span>header. Each header name specified in the <span class="ElementName">Access-Control-Request-Headers</span> header must have a corresponding entry in the ruleto get a 200 OK response from the preflight request. Amazon S3 Server will send only the allowed headers in a response that were requested. This can contain at most one * wild character.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">MaxAgeSeconds</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Integer</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>The time in seconds that your browser is to cache the preflight response for the specified resource. A <span class="ElementName">CORSRule</span> can have at most one <span class="ElementName">MaxAgeSeconds</span> element.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">ExposeHeader</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript <span class="ElementName">XMLHttpRequest</span> object). You add one<span class="ElementName"> ExposeHeader</span> element in the rule for each header.</p>
                        <p>Ancestors: <span class="ElementName">CORSRule</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the PUT Bucket CORS operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The PUT Bucket CORS operation does not return response elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Configure CORS</h3>
        <p style="text-align: left;">The following PUT request adds the <span class="ElementName">cors</span> subresource to a bucket.</p>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT /?cors HTTP/1.1
Host: example.com
x-amz-date: Tue, 21 Aug 2012 17:54:50 GMT
Content-MD5: 8dYiLewFWZyGgV2Q5FNI4W==
Authorization: {{authenticationInformation}}
Content-Length: 216</pre><pre xml:space="preserve">

&lt;CORSConfiguration&gt;
 &lt;CORSRule&gt;
   &lt;AllowedOrigin&gt;http://www.example.com&lt;/AllowedOrigin&gt;
   &lt;AllowedMethod&gt;PUT&lt;/AllowedMethod&gt;
   &lt;AllowedMethod&gt;POST&lt;/AllowedMethod&gt;
   &lt;AllowedMethod&gt;DELETE&lt;/AllowedMethod&gt;
   &lt;AllowedHeader&gt;*&lt;/AllowedHeader&gt;
   &lt;MaxAgeSeconds&gt;3000&lt;/MaxAgeSec&gt;
   &lt;ExposeHeader&gt;x-amz-server-side-encryption&lt;/ExposeHeader&gt;
 &lt;/CORSRule&gt;
 &lt;CORSRule&gt;
   &lt;AllowedOrigin&gt;*&lt;/AllowedOrigin&gt;
   &lt;AllowedMethod&gt;GET&lt;/AllowedMethod&gt;
   &lt;AllowedHeader&gt;*&lt;/AllowedHeader&gt;
   &lt;MaxAgeSeconds&gt;3000&lt;/MaxAgeSeconds&gt;
 &lt;/CORSRule&gt;
&lt;/CORSConfiguration&gt;</pre>
        <h4>Response Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: CCshOvbOPfxzhwOADyC4qHj/Ck3F9Q0viXKw3rivZ+GcBoZSOOahvEJfPisZB7B
x-amz-request-id: BDC4B83DF5096BBE
Date: Tue, 21 Aug 2012 17:54:50 GMT
Server: ScalityS3</pre>
    </body>
</html>